
.filterGroup {
    /*transform: translateY(127%);*/
    position: absolute;
    top:1%;
    z-index: 100;
    display:none;
}
.filterDiv {
    background-color: #fff;
    position: absolute;
    top: 3em;
    display: none;
}
#filterInput {
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transform:translateY(2px);
}
.filterDiv {
    border:1px solid #808080;
    width:500px;
    border-radius:4px;
}
    .filterDiv p {
        width: 100%;
        padding: 8px;
        color: #17a2b8;
        border-bottom:1px solid #808080;
    }
        .filterDiv p i {
            float:right;
        }
        .filterDiv p i:hover {
            color:red;
        }
        .filterDiv .filterBody {
            max-height: 200px;
            overflow: auto;
        }
    .filterDiv .filterItem {
        padding: 8px;
        font-size: 12px;
    }
        .filterDiv .filterItem label {
            transform: translateY(50%);
            white-space: nowrap;
        }
        .filterDiv .filterItem input {
            padding: 4px;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            margin-left: 10px;
            width: 100%;
        }
.filterBtnGroup {
    border-top: 1px solid #808080;
    padding-top: .375rem;
    padding-bottom: .375rem;
}
    .filterBtnGroup div:nth-of-type(1) input{
        margin:0 auto;
        display:block;
    }
@media (max-width: 767px) {
   
    .filterDiv {
        width:100%;
    }
}
@media (max-width: 397px) {
    .filterGroup {
        transform: translateY(0%);
    }
}