
@{
    ViewBag.Title = "执行计划";
}
<link href="~/Css/Implementation.css" rel="stylesheet" />
<div class="content">
    <div class="row alertBox">
        <div class="alert alert-secondary alertCon" role="alert">

            <div class="text-right">当前计划发布日期：@ViewBag.ReleaseTime，最后计划发布人：@ViewBag.Owner，计划发布名称：@ViewBag.WorkPlanName</div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <span><i class="fa fa-laptop" aria-hidden="true"></i> </span>
            <span>设备名称</span>
            <span style="float:right" id="allEquipment"><a href="#">所有设备</a></span>
        </div>
        <div class="card-body">
        </div>
    </div>
    <div class="row alertBox InfoBox">
        <div class="col col-8 orderInfo">
            <i class="fa fa-table mr-1" aria-hidden="true"></i>当前计划详情
        </div>
        <div class="col col-4 orderBtn">
            @*导出数据按钮*@
            <a id="exportExcel" onclick="exportExcel_Click"></a>
        </div>
    </div>
    <div class="filterGroup"> </div>
    <table class="table text-nowrap table-striped" id="table-request"
           data-pagination="true"
           data-click-to-select="true"
           data-single-select="true"
           data-page-size="20">
    </table>
</div>
<script src="~/js/navName.js"></script>
<script src="~/js/Implementation.js"></script>


